# MacOS garbage
.DS_Store
.DS_STORE

# Temp files
*~*

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Project
builder/builder
builder/local.toml
client/client
client/local.toml
server/server
server/local.toml