# MacOS garbage
.DS_Store
.DS_STORE

# Temp files
*~*

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

# Project
builder/cmd/builder
builder/local.toml
client/test
client/local.toml
server/server
server/local.toml
www/local.toml
www/test
www/www
