<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astichat - a lightweight encrypted chat</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Google Font -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css">

    <!-- Custom -->
    <link rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>

<!-- Link -->
<div class="wrapper link light">
    <div class="content">
        This project is open-source. Check it out on <a href="https://github.com/asticode/go-astichat" target="_blank">github.com</a> and contribute!
    </div>
</div>

<!-- Download -->
<div class="wrapper download">
    <div class="content">
        <h1>Astichat</h1>
        <h2>a lightweight encrypted chat</h2>
        <form action="/download" method="POST">
            <div class="form-error hidden"><div class="alert alert-danger"></div></div>
            <input placeholder="Your username" type="text" name="username"/>
            <input placeholder="Your password" type="password" name="password"/>
            <select name="os">
                <option value="linux">Linux</option>
                <option value="macosx">MAC OSX</option>
                <option value="windows">Windows</option>
                <option value="windows32">Windows 32 bits</option>
            </select>
            <div class="checkbox">
                <input type="checkbox" id="is_upgrade" name="is_upgrade" value="1">
                I want to upgrade my client
            </div>
            <div id="with_upgrade" class="hidden">
                <textarea placeholder="Paste your token here" name="token"></textarea>
            </div>
            <button class="btn-full btn-success">Download</button>
        </form>
    </div>
</div>

<!-- Script -->
<script src="/static/js/homepage.js"></script>
<script>
    $(document).ready(function() {
        homepage.init();
    });
</script>
</body>
</html>