<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Astichat - a lightweight encrypted chat</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Google Font -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css">

    <!-- Custom -->
    <link rel="stylesheet" href="/static/css/base.css"/>
</head>
<body>

<!-- Title -->
<div class="wrapper wrapper-large">
    <h1>Astichat</h1>
    <h2>a lightweight encrypted chat</h2>
</div>

<!-- Link -->
<div class="wrapper wrapper-small light">
    This project is open-source. Check it out on <a href="https://github.com/asticode/go-astichat" target="_blank">github.com</a> and contribute!
</div>

<!-- Content -->
<div class="wrapper no-padding">
    <h3>Download the client</h3>

    <form action="/download" method="POST">
        <div class="form-error hidden"><div class="alert alert-danger"></div></div>
        <input placeholder="Your username" type="text" name="username"/>
        <div class="checkbox">
            <input type="checkbox" id="has_token">
            I have a token
        </div>
        <div id="with_token" class="hidden">
            <textarea placeholder="Paste your token here" name="token"></textarea>
        </div>
        <div id="without_token">
            <input placeholder="Your password" type="password" name="password"/>
            <select name="os">
                <option value="linux">Linux</option>
                <option value="macosx">MAC OSX</option>
                <option value="windows">Windows</option>
                <option value="windows32">Windows 32 bits</option>
            </select>
        </div>
        <button class="btn-full btn-success">Download*</button>
    </form>

    <div>* we only store the mapping between your public key and your username</div>
</div>

<!-- Script -->
<script src="/static/js/homepage.js"></script>
<script>
    $(document).ready(function() {
        homepage.init();
    });
</script>
</body>
</html>